<!DOCTYPE html>
<html>
<head>
  <title>Movie Lover</title>
</head>
<body>
  <h1>Movie Lovers!</h1>

	
	<form action="/search" method="POST">
		<p><label for="word">Write what you want to search</label></p>
		<p><input type="text" name="word">
		<button type="submit">Search</button></p>
	</form>
</body>
</html>